h1{
    color: #36ddb1;
    margin-left : 100px;
    padding-left : 50px;

}

p,h2{
    text-align: center;
}


/* *{
    border:solid
}*/

.header{
    
    background-color: #ee4292;
    display: flex ;
    justify-content:space-between
    
}

.header *{
    
    border : solid;
}

.meanu{
    background-color: #aa7777;
    padding:30px;
    
}

.meanu a{

    margin-right : 10px;
    margin-top : 50px;
    
}

a:link {
    color:purple
}

a:visited{
    color:white

}

.grid {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    

}
/*.grid *{
    border:solid;

}*/

.item{
    position:relative;
}

.item p{
    position : absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-85%);
    opacity: 0;

}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: .33;
}


.footer{
    display: flex ;
    justify-content: flex-end;
}

body{

    background-color:rgba(128, 128, 128 )
}

